<a href="https://colab.research.google.com/github/sovabirdie/Python/blob/main/%D0%94%D0%B5%D0%BB%D1%8C%D0%B2%D0%B0%20%D0%9C%D0%B0%D0%BA%D1%81%D0%B8%D0%BC%20%D0%95%D0%B2%D0%B3%D0%B5%D0%BD%D1%8C%D0%B5%D0%B2%D0%B8%D1%87%20%D0%9E%D0%94%D0%91%D0%98-101%D0%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Дельва Максим Евгеньевич ОДБИ-101б

In [ ]:
import math

Задание 1.1 Выведите на экран строковые представления числа 53 в двоичной, восьмеричной и шестнадцатеричной системах счисления.

In [ ]:
print (bin (53))
print (oct (53))
print (hex (53))

0b110101
0o65
0x35

Задание 1.3. Зная, что 1372 является числом в восьмеричной системе счисления, выведите на экран значение этого числа в десятичной системе счисления.

In [ ]:
num_oct = str(1372)
print (int(num_oct, base = 8))

762

Задание 1.19. Запишите арифметическое выражение на языке Python в виде строки, а затем выведите полученный результат на экран: 3tg|√(x + y2) - π| - arctg3(√x + y2).

In [ ]:
print(3*math.tan(math.sqrt(x+2*y)-math.pi)-math.atan(3*(math.sqrt(x)+2*y)))

-0.22827211800446845

Задание 2.6. Измените строку 'кот', записав ее символы в обратном порядке. Выведите результат на экран.

In [ ]:
s = 'кот'
s = s[::-1]
print(s)

ток

Задание 2.13. Дана строка '131231442145'. Подсчитайте в ней количество символов '1' и выведите результат на экран

In [ ]:
s = '131231442145'
count = 0
for letter in s:
  if letter == '1':
    count += 1
  print (count)

1
1
2
2
2
3
3
3
3
4
4
4

Задание 2.16. Дана строка 'ABCDEF'. Поменяйте в ней первый и последний символы местами и выведите итоговую строку на экран.

In [ ]:
s = "ABCDEF"
if len(s) > 1:
    res = s[-1] + s[1:-1] + s[0]
else:
    res = s
print(res)

FBCDEA

Задание 3.1. Используя операции индексирования и среза выведите на экран первый и третий элементы списка [1, 2, 3, 4, 5], а также срез списка из первых трех элементов. Реализуйте вывод двумя способами: используя только положительные и только отрицательные индексы.

In [ ]:
a = [1, 2, 3, 4, 5]
print('a[0] ->', a[0])
print('a[-5] ->', a[-5], end='\n\n')
print('a[2] ->', a[2])
print('a[-3] ->', a[-3], end='\n\n')
print('a[:5] ->', a[:5])
print('a[0:-2] ->', a[0:-2])

a[0] -> 1
a[-5] -> 1

a[2] -> 3
a[-3] -> 3

a[:5] -> [1, 2, 3, 4, 5]
a[0:-2] -> [1, 2, 3]

3.2. Дан список [[1, 2, ['Ok!', 3]], ['list', 4], 5]. Выведите на экран строку 'Ok!', использовав синтаксис доступа к элементу списка по его индексу.

In [ ]:
s = [[1, 2, ['Ok!', 3]], ['list', 4], 5]
print(s[0][2][0])

Ok!

3.4. Дан список ['Санкт', '+', 'Петербург']. Исправьте плюс на дефис и выведите название города на экран использовав доступ к элементам списка по индексам.

In [ ]:
s = ['Санкт', '+', 'Петербург']
s[1] = '-'
print(s[0], s[1], s[2], sep='', end='\n\n')

Санкт-Петербург

4.1. Создайте кортеж, в качестве элементов которого используйте целое, вещественное и комплексное числа, кортеж с одним элементом в виде строки, пустой кортеж и пустой список. Выведите на экран строку вложенного кортежа.

In [ ]:
tpl = (1, 0.2, 0.3+4j, ('5',), (), [])
print(tpl[3][0])

5

Задание 4.2. Создайте кортеж-матрешку, в который поместите два элемента: целое число и вложенный кортеж,

In [ ]:
tpl = (1, (0.2, (0.3+4j, ('5р.', ()))))
print(tpl[1][1][1][0])

5р.

4.4. Дан кортеж ((1, 2, ('Ok!', 3)), ('tuple', 4), 5). Выведите на экран строку 'Ok!', использовав синтаксис доступа к элементу кортежа по его индексу. Обратите внимание на схожесть решения и результатов с задачей 3.2.

In [ ]:
s = ((1, 2, ('Ok!', 3)), ('tuple', 4), 5)
print(s[0][2][0])

Ok!

Задание 5.3. Дан словарь d = {'1': 1.29, '2': 0.43}. Используя доступ к элементам словаря по ключу, найдите произведение 1.29*0.43, после чего добавьте результат в словарь, а затем выведите значение нового элемента на экран.

In [ ]:
d = {'1': 1.29, '2': 0.43}
d['3'] = d['1']*d['2']
print("1.29*0.43 =", d['3'])

1.29*0.43 = 0.5547

Задание 5.5. Сколько элементов будет содержать словарь d_1 = {'1': 1, '2': 2} после добавления к нему элементов словаря d_2 = {'2': 'two', '3': 3}? Каковы будут значения элементов итогового словаря? Проверьте свой ответ программно.

In [ ]:
d_1 = {'1': 1, '2': 2}
d_2 = {'2': 'two', '3': 3}
d_1.update(d_2)
print("d_1.update(d_2) ->", d_1, end='\n\n')
print("len(d_1) ->", len(d_1))

d_1.update(d_2) -> {'1': 1, '2': 'two', '3': 3}

len(d_1) -> 3

Задание 5.4. Найдите представления ключей, значений и элементов словаря d = {1: 1, '2': 2, '3': 3, 4: 4}. Выведите их на экран в виде списков.

In [ ]:
d = {1: 1, '2': 2, '3': 3, 4: 4}
k = d.keys()
v = d.values()
i = d.items()
print('ключи:', list(k))
print('значения:', list(v))
print('элементы:', list(i))

Ключи: [1, '2', '3', 4]
Значения: [1, 2, 3, 4]
Эл-ты: [(1, 1), ('2', 2), ('3', 3), (4, 4)]

 Задание 6.1. Создайте множество, в качестве элементов которого используйте целое, вещественное и комплексное числа, а также строки в формате кортежа, списка и словаря, содержащих по одному элементу. Выведите полученное множество на экран.

In [ ]:
st = {1, 0.2, 0.3+4j, '(5,)', '[6]', '{7: 8}'}
print(st)

{0.2, 1, '[6]', '(5,)', '{7: 8}', (0.3+4j)}

Задание 6.2. Дано множество {'a', 'b', 'c'}. Удалите из него строку 'c', а затем добавьте элемент 'd'. Выведите итоговое множество на экран.

In [ ]:
s = {'a', 'b', 'c'}
s.remove('c')
s.add('d')
print(s)

{'d', 'a', 'b'}

Задание 6.3. Даны множества {'a', 'b'} и {'b', 'c'}. Множества простые, поэтому сперва назовите результат их объединения, пересечения, разности и симметричной разницы устно, а затем проверьте себя, выведя результаты на экран.

In [ ]:
s_1 = {'a', 'b'}
s_2 = {'b', 'c'}
print('s_1 | s_2 ->', s_1 | s_2)
print('s_1 & s_2 ->', s_1 & s_2)
print('s_1 - s_2 ->', s_1 - s_2)
print('s_1 ^ s_2 ->', s_1 ^ s_2)

s_1 | s_2 -> {'c', 'a', 'b'}
s_1 & s_2 -> {'b'}
s_1 - s_2 -> {'a'}
s_1 ^ s_2 -> {'c', 'a'}

Задание 7.1. Перевести граммы в килограммы и вывести результат на экран. Значение граммов ввести с клавиатуры.

In [ ]:
g = float(input('введите вес в граммах: '))
kg = g*1e-3
print('получаем: {} кг.'.format(kg))

Введите вес в граммах: 99
Получаем: 0.099 кг.

Задание 7.3. С клавиатуры вводится расстояние L в метрах. Необходимо найти и вывести на экран количество полных километров в нем.

In [ ]:
L = float(input('введите расстояние в метрах:'))
print('Полных км.:', km)

Введите расстояние в метрах: 4999
Полных км.: 4.0

Задание 7.9. С клавиатуры вводится целое число. Необходимо вывести число, обратное введенному по порядку составляющих его цифр. Например, если было введено число 12345, программа должна вывести пользователю на экран число 54321.

In [ ]:
n1 = input("введите целое число: ")
n2 = n1[::-1]
print('обратное ему число:', n2)

Введите целое число: 12345
Обратное ему число: 54321

Задание 8.1. Записать и вывести на экран условие, которое является истинным, когда положительное целое n кратно двум или трем.

In [ ]:
s = 'n%2 == 0 or n%3 == 0'
print(s)
n = 5
if n%2 == 0 or n%3 == 0:
    print(True)
else:
    print(False)

n%2 == 0 or n%3 == 0
False

Задание 8.2. Записать и вывести на экран условие, которое является истинным, когда целое n не кратно трем и оканчивается нулем.

In [ ]:
s = 'n%3 != 0 and n%10 == 0'
print(s)
n = 50
if n%3 != 0 and n%10 == 0:
    print(True)
else:
    print(False)

n%3 != 0 and n%10 == 0
True

Задание 8.3. Записать и вывести на экран условие, которое является истинным, когда список li имеет хотя бы один элемент.

In [ ]:
res = "li"
print(res)
li = [0]
if li:
    print(True)
else:
    print(False)

li
True

Задание 9.1. Определите, не является ли введенная пользователем с клавиатуры строка пустой. Результат проверки в виде True или False выведите на экран.

In [ ]:
s = input('введите строку:')
if len(s) > 0:
    print(True)
else:
    print(False)

введите строку:wasd
True

Задание 9.2. Написать программу, которая будет делить введенные пользователем два вещественных числа и выводить результат на экран, сообщая об ошибке в случае деления на ноль.

In [ ]:
x = float(input('введите первое число: '))
y = float(input('Введите второе число: '))
if y != 0:
    print('x/y =', x/y)
else:
    print('на ноль делить нельзя!')

введите первое число: 100
Введите второе число: 0
на ноль делить нельзя!

Задание 9.3. Определить, является ли введенное с клавиатуры натуральное число кратным трем. Вывести результат на экран.

In [ ]:
n = int(input('введите натуральное число для проверки: '))
if n%3 == 0:
    print('число', n, 'кратно трем.')
else:
    print('число', n, 'на 3 не делится.')

введите натуральное число для проверки: 4
число 4 на 3 не делится.

Задание 10.1. Посчитайте количество символов в строке 'Python - это Питон!', использовав счетчики на основе циклов for и while.

In [ ]:
str_1 = 'Python - это Питон!'
k = 0
for simb in str_1:
    k += 1
print('В строке', k, 'символов.')
n = 0
while str_1:
    str_1 = str_1[1:]
    n += 1
print('В строке', n, 'символов.')

В строке 19 символов.
В строке 19 символов.

Задание 10.5. Используя циклы, проверьте при помощи оператора in наличие символов строки 'abcde123' в строке 'bad_cat_23', выводя результаты проверки на экран в виде «Символ "a" есть в "bad_cat_23".» или «Символа "n" нет в "bad_cat_23".».

In [ ]:
str_1 = 'abcde123'
str_2 = 'bad_cat_23'
for simb in str_1:
    if simb in str_2:
        print('Символ ', simb, ' есть в "', str_2, '".', sep='')
    else:
        print('Символа ', simb, ' нет в "', str_2, '".', sep='')
print()

Символ a есть в "bad_cat_23".
Символ b есть в "bad_cat_23".
Символ c есть в "bad_cat_23".
Символ d есть в "bad_cat_23".
Символа e нет в "bad_cat_23".
Символа 1 нет в "bad_cat_23".
Символ 2 есть в "bad_cat_23".
Символ 3 есть в "bad_cat_23".

Задание 10.4. Дано множество целых чисел {12, 33, 24, 7, 19}. Выведите на экран только четные числа.

In [ ]:
s = {12, 33, 24, 7, 19}
s_1 = s.copy()
while s_1:
    elem = s_1.pop()
    if elem%2 != 1:
        print(elem, end='  ')
    else:
        continue

24  12

Задание 11.1. Имеется список вещественных чисел [1.3, 2.5, 3.1]. Создайте множество квадратов этих чисел, использовав для этого генератор множеств. Выведите полученное множество на экран.

In [ ]:
st = {x**2 for x in [1.3, 2.5, 3.1]}
print ('квадраты чисел:', st)

квадраты чисел: {1.6900000000000002, 9.610000000000001, 6.25}

Задание 11.2. Создайте список нечетных чисел, принадлежащих отрезку [10; 20], использовав для этого генератор списков. Выведите полученный список на экран.

In [ ]:
li = [x for x in range(10,21) if x%2!=0]
print(li)

[11, 13, 15, 17, 19]

Задание 11.3. Преобразуйте кортеж чисел (3.27, 5.755, 7.321) в словарь, в качестве ключей которого будут использованы числа кортежа, а значениями будут их округленные до десятых значения. Используйте для решения задачи генератор словарей. Выведите полученный словарь на экран.

In [ ]:
d = {x:round(x,1) for x in (3.27, 5.755, 7.321)}
print(d)

{3.27: 3.3, 5.755: 5.8, 7.321: 7.3}

Задание 12.1. Создайте простейшую в мире функцию simple_pass, а затем выведите на экран ее тип

In [ ]:
def simple_pass(): pass
print(type(simple_pass))

<class 'function'>

Задание 12.2. Напишите функцию hello_friend, принимающую в качестве аргументов имя и фамилию пользователя и возвращающую строку в формате «Привет, {name} {surname}!». Вызовите функцию и выведите результат вызова на экран.

In [ ]:
def hello_friend(name, surname):
    s = 'Привет, {} {}!'.format(name, surname)
    return s
print(hello_friend('Максим', 'Дельва'))

Привет, Максим Дельва!

Задание 12.4. Создайте пользовательскую функцию print_args, принимающую произвольное количество аргументов и выводящую их затем на экран. Вызовите функцию, одновременно передав ей в качестве значений целое число, вещественное число, строку и пустой список.

In [ ]:
def print_args(*args):
    for elem in args:
        print(elem)
print_args(5, 0.73, 'str', [])

5
0.73
str
[]