<a href="https://colab.research.google.com/github/sovabirdie/Python/blob/main/%D0%9C%D0%B0%D1%82%D0%B2%D0%B5%D0%B5%D0%B2%D0%92%D0%B8%D0%BA%D1%82%D0%BE%D1%80%D0%98%D0%B2%D0%B0%D0%BD%D0%BE%D0%B2%D0%B8%D1%87%D0%9E%D0%94%D0%91%D0%98_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Матвеев Виктор Иванович ОДБИ-101

In [ ]:
import math

1.1. Выведите на экран строковые представления числа 53 в двоичной, восьмеричной и шестнадцатеричной системах счисления.

In [ ]:
number = 53

binary = bin(number)[2:]

octal = oct(number)[2:]

hexadecimal = hex(number)[2:]

print("Двоичное:", binary)
print("Восьмеричное:", octal)
print("Шестнадцатеричное:", hexadecimal)

Двоичное: 110101
Восьмеричное: 65
Шестнадцатеричное: 35

1.2. Даны строковые представления чисел: '011011101' (двоичная СС), '357' (восьмеричная СС) и 'AF23D' (шестнадцатеричная СС). Выведите на экран строковые представления этих чисел в десятичной системе счисления.

In [ ]:
bin_num = '011011101'
decimal_from_binary = int(bin_num, 2)

octal_num = '357'
decimal_from_octal = int(octal_num, 8)

hex_num = 'AF23D'
decimal_from_hex = int(hex_num, 16)

print(f"Двоичное '{bin_num}' Десятичное: {decimal_from_binary}")
print(f"Восьмеричное '{octal_num}' Десятичное: {decimal_from_octal}")
print(f"Шестнадцатеричное '{hex_num}' Десятичное: {decimal_from_hex}")

Двоичное '011011101' Десятичное: 221
Восьмеричное '357' Десятичное: 239
Шестнадцатеричное 'AF23D' Десятичное: 717373

1.3. Зная, что 1372 является числом в восьмеричной системе счисления, выведите на экран значение этого числа в десятичной системе счисления.

In [ ]:
oct_num = '1372'
dec_num = int(oct_num, 8)

print(f"Восьмеричное число {oct_num} в десятичной системе: {dec_num}")

Восьмеричное число 1372 в десятичной системе: 762

2.1. Составьте и выведите на экран пользователя строку, в которой через запятую перечислите целое, вещественное и комплексное числа в формате «'int', 'float', 'complex'». Реализуйте вывод двумя способами, использовав в качестве внешних двойные и одинарные кавычки.

In [ ]:
print("'int', 'float', 'complex'")
print('\'int\', \'float\', \'complex\'')

'int', 'float', 'complex'
'int', 'float', 'complex'

2.2. Составьте и выведите на экран пользователя строку-матрешку с содержимым «'4 + "3 + '2 + "1 + '0' " ' " '». Реализуйте вывод четырьмя способами, использовав в качестве внешних все виды кавычек, разрешенных для строк.

In [ ]:
print('\'4 + "3 + \'2 + "1 + \'0\' " \' " \'')
print("\'4 + \"3 + \'2 + \"1 + \'0\' \" \' \" \'")
print('''\'4 + "3 + \'2 + "1 + \'0\' " \' " \'''')
print("""\'4 + \"3 + \'2 + \"1 + \'0\' \" \' \" \'""")

'4 + "3 + '2 + "1 + '0' " ' " '
'4 + "3 + '2 + "1 + '0' " ' " '
'4 + "3 + '2 + "1 + '0' " ' " '
'4 + "3 + '2 + "1 + '0' " ' " '

2.3. Необходимо вывести на экран пользователя строку с адресом '..\new_dir\tables.py'. Реализуйте вывод двумя способами.

In [ ]:
print('..\\new_dir\\tables.py')
print(r'..\new_dir\tables.py')

..\new_dir\tables.py
..\new_dir\tables.py

3.2. Дан список [[1, 2, ['Ok!', 3]], ['list', 4], 5]. Выведите на экран строку 'Ok!', использовав синтаксис доступа к элементу списка по его индексу.

In [ ]:
lst = [[1, 2, ['Ok!', 3]], ['list', 4], 5]

print(lst[0][2][0])

Ok!

3.4. Дан список ['Санкт', '+', 'Петербург']. Исправьте плюс на дефис и выведите название города на экран использовав доступ к элементам списка по индексам.

In [ ]:
city = ['Санкт', '+', 'Петербург']
city[1] = '-'
print(''.join(city))

Санкт-Петербург

3.5. Дан список ['a', '1', 'b', '2', 'c', '3']. Разбейте его на два списка: только с буквами и только с числами. Сам список затем удалите, а новые списки выведите на экран, каждый на отдельной строке.

In [ ]:
original_list = ['a', '1', 'b', '2', 'c', '3']
letters = original_list[::2]
numbers = original_list[1::2]
del original_list

print(letters)  # ['a', 'b', 'c']
print(numbers)  # ['1', '2', '3']

['a', 'b', 'c']
['1', '2', '3']

4.2. Создайте кортеж-матрешку, в который поместите два элемента: целое число и вложенный кортеж, в который поместите еще два элемента: вещественное число и вложенный кортеж, в который поместите еще два элемента: комплексное число и вложенный кортеж, в который поместите еще два элемента: строку и пустой кортеж. Выведите на экран конечную строку. Обратите внимание на схожесть решения с задачей 3.3.

In [ ]:
matryoshka = (
    52,
    (
        52.52,
        (
            52+52j,
            (
                "НЕТНЕТОН",
                ()
            )
        )
    )
)

print(matryoshka[1][1][1][0])

НЕТНЕТОН

4.4. Дан кортеж ((1, 2, ('Ok!', 3)), ('tuple', 4), 5). Выведите на экран строку 'Ok!', использовав синтаксис доступа к элементу кортежа по его индексу. Обратите внимание на схожесть решения и результатов с задачей 3.2.

In [ ]:
tpl = ((1, 2, ('Ok!', 3)), ('tuple', 4), 5)

print(tpl[0][2][0])

Ok!

4.5. Дан кортеж (3, 's', 1, 5, 's'). Выведите на экран: количество всех элементов кортежа, количество строк 's', индекс первого вхождения 's' в кортеж.

In [ ]:
tpl = (3, 's', 1, 5, 's')

print(len(tpl))
print(tpl.count('s'))
print(tpl.index('s'))

5
2
1

5.1. Создайте словарь d = {'1': 0, 2: 0, '3': 0} тремя способами. Выведите полученный словарь на экран.

In [ ]:
d1 = {'1': 0, 2: 0, '3': 0}
print("1:", d1)

d2 = dict([('1', 0), (2, 0), ('3', 0)])
print("2:", d2)

d3 = {}
d3['1'] = 0
d3[2] = 0
d3['3'] = 0
print("3:", d3)

1: {'1': 0, 2: 0, '3': 0}
2: {'1': 0, 2: 0, '3': 0}
3: {'1': 0, 2: 0, '3': 0}

5.2. Создайте словарь содержащий данные о человеке. В качестве ключей используйте строки 'имя', 'возраст' и 'пол'. Значения придумайте самостоятельно. Выведите полученный словарь на экран.

In [ ]:
person = {
    'имя': 'Витя',
    'возраст': 18,
    'пол': 'мужской'
}

print(person)

{'имя': 'Витя', 'возраст': 18, 'пол': 'мужской'}

5.3. Дан словарь d = {'1': 1.29, '2': 0.43}. Используя доступ к элементам словаря по ключу, найдите произведение 1.29*0.43, после чего добавьте результат в словарь, а затем выведите значение нового элемента на экран.

In [ ]:
d = {'1': 1.29, '2': 0.43}
product = d['1'] * d['2']
d['3'] = product

print(d['3'])

0.5547

6.2. Дано множество {'a', 'b', 'c'}. Удалите из него строку 'c', а затем добавьте элемент 'd'. Выведите итоговое множество на экран.

In [ ]:
my_set = {'a', 'b', 'c'}
my_set.remove('c')
my_set.add('d')

print(my_set)

{'a', 'd', 'b'}

6.5. Дано множество целых чисел {-3, 8, 15, -5, 0, 7}. Выведите на экран произведение максимального и минимального элементов, сумму элементов не превышающих 7.

In [ ]:
numbers = {-3, 8, 15, -5, 0, 7}
max_num = max(numbers)
min_num = min(numbers)
product = max_num * min_num
sum_less_than_7 = sum(x for x in numbers if x <= 7)
print(f"Произведение максимального и минимального элементов: {product}")
print(f"Сумма элементов, не превышающих 7: {sum_less_than_7}")

Произведение максимального и минимального элементов: -75
Сумма элементов, не превышающих 7: -1

6.6. Определите есть ли в строке 'Купить, нельзя оставить!' хотя бы одна точка или запятая. Выведите результат проверки на экран.

In [ ]:
s = 'Купить, нельзя оставить!'
print(any(c in s for c in '.,'))

True

7.1. Перевести граммы в килограммы и вывести результат на экран. Значение граммов ввести с клавиатуры.

In [ ]:
grams = float(input("Введите количество граммов: "))
kilograms = grams / 1000

print(f"{grams} граммов = {kilograms} килограммов")

Введите количество граммов: 69543
69543.0 граммов = 69.543 килограммов

7.2. Даны две переменные x = 10 и y = 55. Поменяйте их значения местами. Выведите значения переменных на экран до и после замены.

In [ ]:
x, y = 10, 55
print("До замены: x =", x, "y =", y)

x, y = y, x
print("После замены: x =", x, "y =", y)

До замены: x = 10 y = 55
После замены: x = 55 y = 10

7.3. С клавиатуры вводится расстояние L в метрах. Необходимо найти и вывести на экран количество полных километров в нем.

In [ ]:
L = int(input("Расстояние в метрах: "))
km = L // 1000
print(f"Полных километров: {km}")

Расстояние в метрах: 434
Полных километров: 0

8.1. Записать и вывести на экран условие, которое является истинным, когда положительное целое n кратно двум или трем.

In [ ]:
n = int(input("Положительное целое число: "))
condition = n % 2 == 0 or n % 3 == 0
print(f"Число {n} кратно 2 или 3: {condition}")

Введите положительное целое число: 12
Число 12 кратно 2 или 3: True

8.4. Записать и вывести на экран условие, которое является истинным, когда хотя бы одно из чисел x, y и z больше 80.

In [ ]:
x, y, z = 60, 70, 81
condition = x > 80 or y > 80 or z > 80
print(f"Хотя бы одно число > 80: {condition}")

Хотя бы одно число > 80: True

8.5. Записать и вывести на экран условие, которое является истинным, когда оба числа a и b одновременно положительны или отрицательны.

In [ ]:
a, b = 5, 15
condition = a * b > 0
print(f"Оба числа одного знака: {condition}")

Оба числа одного знака: True

9.1. Определите, не является ли введенная пользователем с клавиатуры строка пустой. Результат проверки в виде True или False выведите на экран.

In [ ]:
s = input("Введите строку: ")
print(s.strip() != "")  # True если есть не-пробельные символы

Введите строку: ва
True

9.3. Определить, является ли введенное с клавиатуры натуральное число кратным трем. Вывести результат на экран.

In [ ]:
number = int(input("Введите натуральное число: "))
print(number % 3 == 0)

Введите натуральное число: 32
False

9.5. Напишите программу, которая будет проверять, является ли введенное пользователем значение цифрой десятичной системы счисления. Результат проверки должен выводиться пользователю на экран в виде сообщения.

In [ ]:
user_input = input("Введите один символ: ")

if len(user_input) == 1 and user_input in "0123456789":
    print("Это цифра дес. системы счисления")
else:
    print("Это не цифра дес. системы счисления")

Введите один символ: 23
Это не цифра дес. системы счисления

10.1. Посчитайте количество символов в строке 'Python - это Питон!', использовав счетчики на основе циклов for и while.

In [ ]:
s = 'Python - это Питон!'
count = 0

for char in s:
    count += 1

print(f"Количество символов (for): {count}")

Количество символов (for): 19

10.3. Найдите сумму всех элементов списка [1, '2', 3, 4, '5'], предварительно приводя строки к целым числам.

In [ ]:
lst = [1, '2', 3, 4, '5']
total = sum(int(x) for x in lst)

print(total)

15

10.4. Дано множество целых чисел {12, 33, 24, 7, 19}. Выведите на экран только четные числа.

In [ ]:
numbers = {12, 33, 24, 7, 19}
for num in numbers:
    if num % 2 == 0:
      print(num)

24
12

11.2. Создайте список нечетных чисел, принадлежащих отрезку [10; 20], использовав для этого генератор списков. Выведите полученный список на экран.

In [ ]:
odd_numbers = [x for x in range(10, 21) if x % 2 == 1]
print(odd_numbers)

[11, 13, 15, 17, 19]

11.4. Выведите на экран элементы списка [1, 2, 3], использовав для этого функцию next().

In [ ]:
my_list = [1, 2, 3]
iterator = iter(my_list)

while True:
    try:
        print(next(iterator))
    except StopIteration:
        break

1
2
3

11.7. Выведите на экран сумму числовых кодов символов строки 'генераторы', использовав в решении генератор списков.

In [ ]:
word = 'генераторы'
char_codes = [ord(char) for char in word]
codes_sum = sum(char_codes)
print(f"Сумма кодов: {codes_sum} (список кодов: {char_codes})")

Сумма кодов: 10837 (список кодов: [1075, 1077, 1085, 1077, 1088, 1072, 1090, 1086, 1088, 1099])

12.1. Создайте простейшую в мире функцию simple_pass, а затем выведите на экран ее тип.

In [ ]:
def simple_pass():
    pass
print(type(simple_pass))
print("Является ли simple_pass функцией?", callable(simple_pass))

<class 'function'>
Является ли simple_pass функцией? True

12.2. Напишите функцию hello_friend, принимающую в качестве аргументов имя и фамилию пользователя и возвращающую строку в формате «Привет, {name} {surname}!». Вызовите функцию и выведите результат вызова на экран.

In [ ]:
def hello_friend(name, surname):
    return f"Привет, {name} {surname}!"
result = hello_friend("Виктор", "Матвеев")
print(result)

Привет, Иван Иванов!

12.10. Напишите собственный аналог встроенной функции abs для нахождения модуля числа. Проверьте ее на числах -5, 0 и 10.

In [ ]:
def custom_abs(x):
    return x if x >= 0 else -x
print(custom_abs(-5))
print(custom_abs(0))
print(custom_abs(10))

5
0
10